<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Management</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <style>
        .del {
            border: 1px solid #d9534f;
            display: inline;
            padding: 5px 10px;
            border-radius: 3px;
            color: #fff;
            background-color: #d9534f;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">NodeJS Training</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="http://127.0.0.1:5500/views/index.html">
                                <i class="fa fa-dashboard fa-fw"></i> Danh sách công ty sự kiện
                            </a>
                        </li>


                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </nav>
        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Item Management</h1>
                </div>
            </div>



            <div class="alert alert-success" role="alert">

                <span class="close-btn">&times;</span> Thay đổi Status thành công



            </div>





            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Search & Filter
                            <a href="admin123/item">
                                <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
                            </a>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="status-list col-sm-6 pl0">

                                    <a class="btn m-b-sm btn-success btn-sm" href="admin123/item/all">
                                        ALL (4)
                                    </a>

                                    <a class="btn m-b-sm btn-default btn-sm" href="admin123/item/active">
                                        ACTIVE (4)
                                    </a>

                                    <a class="btn m-b-sm btn-default btn-sm" href="admin123/item/inactive">
                                        INACTIVE (0)
                                    </a>

                                </div>
                                <div class="col-sm-6">
                                    <form action="admin123/item/all" method="GET">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="search" placeholder="Search for..." value="">
                                            <input type="hidden" value="all">

                                            <span class="input-group-btn">
                                                <button class="btn btn-info" type="submit">Search</button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button"><a
                                                        href="admin123/group/all">Clear</a></button>
                                            </span>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            List Items
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="zcontrols">
                                <select name="action" class="form-control slbAction">
                                        <option value="">Bulk Action</option>
                                        <option value="admin123/item/change-status/active">
                                            Active
                                        </option>
                                        <option value="admin123/item/change-status/inactive">
                                            InActive
                                        </option>
                                        <option value="admin123/item/save-ordering/">
                                            Change Ordering
                                        </option>
                                        <option value="admin123/item/delete/">
                                            Delete
                                        </option>
                                    </select>
                                <button class="btn btn-info btnAction" type="button" id="btn-action" value="btnAction" disabled>Apply</button>

                                <div class="pull-right">
                                    <a id="addmember" href="form.html" class="btn btn-warning btn-addNew">Thêm người tham gia
                                        </a>
                                </div>
                                <div class="pull-right">
                                    <form id="form" role="form" action="https://dttl-phuc.herokuapp.com/uploadpaticipantlist" method="post" enctype="multipart/form-data">
                                        <input name="paticipantlist" value="" type="file">
                                        <button type="submit" class="btn btn-primary">Submit </button>
                                    </form>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" class="cbAll" />
                                            </th>
                                            <th>#</th>
                                            <th>Tên người tham gia</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Tên công ty</th>
                                            <th>Thông tin sự kiên</th>
                                            <th>Ngày bắt đầu</th>
                                            <th>Ngày kết thúc</th>
                                            <th>Số buổi</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="list">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-info" id="pagination">
                        <div class="panel-heading">
                            Pagination
                            <span>^</span>
                            <span class="label label-warning">Total pages: 0</span>
                            <span class="label label-danger">Total entries: 0</span>
                        </div>

                        <div class="panel-body">
                            <div class="infor-pagination">
                                <p>Number of elements on the page: <span>0</span></p>
                                <p>Showing <span> 0 </span> to <span>0</span> of <span>0</span> entries</p>
                            </div>
                            <div class="ad-pagination">
                                <ul class="pagination text-center">
                                    <li class="disabled"><a>«</a></li>
                                    <li><a href="admin123/item/page=1">1</a></li>
                                    <li class="active"><a>2</a></li>
                                    <li><a href="admin123/item/page=3">3</a></li>
                                    <li><a href="admin123/item/page=4">4</a></li>
                                    <li><a href="admin123/item/page=5">5</a></li>
                                    <li><a href="admin123/item/page=0">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/sb-admin.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/data.js"></script>
    <script>
        var clienturl = 'https://noteatext.com/portfolio/phuc/';
        var currentUrl = window.location.href;
        var url = new URL(currentUrl); //tách lấy phần request trong url
        var params = url.search;
        params = params.replace('?', '');
        var args = params.split("&");
        var danhsachthamgia = lay_thong_tin_cong_ty(args[0], args[1]);
        var Th_Cha = document.getElementById('list');
        var Chuoi_HTML = '';
        var i = 1;
        var form = document.getElementById("form");
        form.setAttribute("action", `${lh}req=uploadpaticipantlist&id=${args[1]}`)
        var addpaticipant = document.getElementById('addmember');
        addpaticipant.setAttribute("href", `memberform.html?companyinfo&${args[1]}`);
        // console.log(danhsachthamgia);
        danhsachthamgia.forEach(element => {

            Chuoi_HTML += `
            <tr>
                <td  >
                    <input type="checkbox" name="cid" value="${element._id}" />
                </td>
                <td  >
                    ${i}
                </td>
                <td  >
                    ${element.paticipantName}
                </td>
                <td  >
                    ${element.paticipantEmail}
                </td>
                <td  >
                    ${element.paticipantPhone}
                </td>
                <td  >
                    ${element.companyname}
                </td>
                <td  >
                    ${element.eventinfo}
                </td>
                <td  >
                    ${element.start}
                </td>
                <td  >
                    ${element.end}
                </td>

                <td  >
                    ${element.session}
                </td>
                <td>

                    <a href="memberform.html?paticipantinfo&${element._id}" type="button" class="btn btn-warning btn-sm">Sửa</a>
                    <a href="#" value="${element._id}" onclick='deletemember(this.getAttribute("value"))' class="del">Xóa</a>
                </td>
            </tr>
            `
            i++;
            // console.log(typeof element._id);
        });
        Th_Cha.innerHTML = Chuoi_HTML;

        function deletemember(paticipantid) {
            var senddata = {
                companyid: args[1],
                paticipantid: paticipantid
            };
            senddata = JSON.stringify(senddata);
            // console.log(senddata);
            Chuoi_HTML = '';
            i = 1;
            var danhsachthamgia = deletearecord('deletemember', senddata);
            danhsachthamgia.forEach(element => {

                Chuoi_HTML += `
                <tr>
                    <td  >
                        <input type="checkbox" name="cid" value="${element._id}" />
                    </td>
                    <td  >
                        ${i}
                    </td>
                    <td  >
                        ${element.paticipantName}
                    </td>
                    <td  >
                        ${element.paticipantEmail}
                    </td>
                    <td  >
                        ${element.paticipantPhone}
                    </td>
                    <td  >
                        ${element.companyname}
                    </td>
                    <td  >
                        ${element.eventinfo}
                    </td>
                    <td  >
                        ${element.start}
                    </td>
                    <td  >
                        ${element.end}
                    </td>

                    <td  >
                        ${element.session}
                    </td>
                    <td>

                        <a href="memberform.html?paticipantinfo&${element._id}" type="button" class="btn btn-warning btn-sm">Sửa</a>
                        <a href="#" value="${element._id}" onclick='deletemember(this.getAttribute("value"))' class="del">Xóa</a>
                    </td>
                </tr>
                `
                i++;
                // console.log(typeof element._id);
            });
            Th_Cha.innerHTML = Chuoi_HTML;
        }
    </script>
</body>

</html>
